In [14]:
import pandas as pd

Парсинг

In [15]:
df = pd.read_csv('BikeData.csv')

1. Создайте новую переменную Total_count, в которую записать общее количество арендованных велосипедов за каждый час.

In [16]:
df['Total count'] = df['Partner 1'] + df['Partner 2']
df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Total count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401,843

2. Удалите ряды Partner 1 и Partner 2

In [17]:
df = df.drop(columns=['Partner 1','Partner 2'])
df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

3. Преобразуйте переменную Date к стандартной форме (to_datetime).

In [18]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

4. Определите сколько велосипедов было выдано в день, месяц и число которого совпадает с днем выполнения этого задания. Определите, какой это был день недели.

In [19]:
result = df[df['Date'].dt.month.eq(9) & df['Date'].dt.day.eq(23)]
bike_count = result['Total count'].sum()
day_of_week = result['Date'].iloc[0].day_name()

 5. Перекодируйте категориальную переменную переменную Functioning Day(рабочий или нерабочий день) в переменную типа boolean, т.е. "Yes"=True и "No" = False. Выведите количество нерабочих дней ( не часов ). День считается нерабочим, если пункт выдачи велосипедов работал менее 12 часов.

In [20]:
df['Functioning Day'] = df['Functioning Day'].apply(lambda x: True if x == 'Yes' else False)
day_group = df.groupby(df['Date'].dt.date)
day_count = day_group['Functioning Day'].sum()
weekend_count = (day_count < 12).sum()
weekend_count

np.int64(12)

6. Перекодируйте переменную Holiday (являлся ли день праздничным) в 0, если No Holiday, и 1, если Holiday. (используйте анонимную функцию lambda).

In [21]:
df['Holiday'] = df['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)

7. Введите новую категориальную переменную Temperature category, которая будет равна

In [22]:
df['Temperature category'] = df['Temperature'].apply(lambda x: 'Freezing' if x < 0 else
                                                'Chilly' if 0 <= x < 15 else
                                                'Nice' if 15 <= x < 26 else
                                                'Hot')

8. Создайте новую переменную Good weather, которая будет равна 1 (т.е. хорошая погода), если

In [23]:
df['Good weather'] = df.apply(lambda x: 1 if
    (x['Temperature category'] == 'Nice') and (x['Humidity'] >= 40) and (x['Humidity'] <= 60) and
    (x['Wind speed'] < 5.4) and (x['Rainfall'] == 0) and (x['Snowfall'] == 0) 
    else 0, axis=1)
good_weather_count = df['Good weather'].sum()
good_weather_percent = (good_weather_count / len(df)) * 100

9. Сгруппируйте данные по сезонам (Seasons), внутри сезона по категории погоды (Temperature category)

In [24]:
groups = df.groupby(['Seasons','Temperature category'])
groups_stat = groups[['Total count']].sum()
groups_stat

                              Total count
Seasons Temperature category
Autumn  Chilly                     775694
        Freezing                    12035
        Hot                        170674
        Nice                       811498
Spring  Chilly                     587211
        Freezing                     6331
        Hot                         86791
        Nice                       928572
Summer  Hot                       1347262
        Nice                       892664
Winter  Chilly                     215221
        Freezing                   258570
        Hot                          9536

In [25]:
pivot_table = df.pivot_table(index='Seasons',
                            columns='Temperature category',
                             values='Total count',
                             aggfunc='sum')
pivot_table

Temperature category    Chilly  Freezing        Hot      Nice
Seasons
Autumn                775694.0   12035.0   170674.0  811498.0
Spring                587211.0    6331.0    86791.0  928572.0
Summer                     NaN       NaN  1347262.0  892664.0
Winter                215221.0  258570.0     9536.0       NaN

10. Определите сезон и температуру, при которых выдается наибольшее и наименьшее количество велосипедов.

In [26]:
max_rentals = groups_stat['Total count'].max()
min_rentals = groups_stat['Total count'].min()

max_group = groups_stat['Total count'].idxmax()
min_group = groups_stat['Total count'].idxmin()

print('Максимум')
print(f'Сезон: {max_group[0]};\tПогода: {max_group[1]};\tКоличество: {max_rentals}')
print('Минимум')
print(f'Сезон: {min_group[0]};\tПогода: {min_group[1]};\tКоличество: {min_rentals}')

Максимум
Сезон: Summer;	Погода: Hot;	Количество: 1347262
Минимум
Сезон: Spring;	Погода: Freezing;	Количество: 6331